.report-container {
  padding: 20px;
  margin-left: 250px;
  /* Sidebar width */
}

.filters {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.side-menu .offcanvas-body {
  background-color: #f8f9fa;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}