.report-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
}

.filters {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.chart-container {

    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.btn-custom-info {
    background-color: #1e3a5f !important;
    border-color: #1E3A5F !important;
    color: white !important;
}

.btn-custom-info:hover {
    background-color: #16283D !important;
    border-color: #16283D !important;
}

@media (max-width: 768px) {
    .report-container {
        max-width: 100%;
    }

    .chart-container {
        margin-top: 20px;
    }
}